@import './fonts/asap.css';
@import './fonts/muli.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #111;
  height: 100%;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  border: 5px solid #777;
  width: auto;
}

h1.title,
p.subtitle {
	font-family: Asap, sans-serif;
	color: white;
}